$tram-route-color-light: red;
$bus-route-color-light: blue;
$unknown-route-color-light: black;

.route-path.route-bus {
    stroke: $bus-route-color-light;
}

.route-path.route-tram {
    stroke: $tram-route-color-light;
}

.route-path.route-unknown {
    stroke: $unknown-route-color-light;
}

@mixin animate-route($dashSize: 50, $gapSize: 10) {
    animation: move-route-#{ $dashSize }-#{ $gapSize } 2s linear infinite;
    stroke-dasharray: $dashSize, $gapSize;
    @keyframes move-route-#{ $dashSize }-#{ $gapSize } {
        to { stroke-dashoffset: -($dashSize + $gapSize); }
    }
}

.route-path.map-zoom-19 { @include animate-route(100, 10); }
.route-path.map-zoom-18 { @include animate-route(75, 10); }
.route-path.map-zoom-17 { @include animate-route(50, 10); }
.route-path.map-zoom-16 { @include animate-route(50, 10); }
.route-path.map-zoom-15 { @include animate-route(25, 10); }
.route-path.map-zoom-14 { @include animate-route(20, 10); }
.route-path.map-zoom-13 { @include animate-route(15, 10); }
.route-path.map-zoom-12 { @include animate-route(10, 10); }
.route-path.map-zoom-11 { @include animate-route(10, 10); }
.route-path.map-zoom-10 { @include animate-route(5, 10); }
