@use "sass:color";

$tram-color-light: red;
$bus-color-light: blue;
$unknown-color-light: #444444;
$vehicle-label-bg-light: white;

$tram-route-color-light: red;
$bus-route-color-light: blue;
$unknown-route-color-light: black;

$tracked-tram-color-light: red;
$tracked-bus-color-light: blue;
$tracked-unknown-color-light: #222222;
$tracked-vehicle-label-bg-light: yellow;


$tram-color-dark: color.adjust(color.mix(red, white, 80%), $lightness: -5%);
$bus-color-dark: color.adjust(color.mix(blue, white, 80%), $lightness: 5%);
$unknown-color-dark: #bbbbbb;
$vehicle-label-bg-dark: color.adjust(color.mix(black, gray, 80%), $lightness: -5%);

$tram-route-color-dark: red;
$bus-route-color-dark: blue;
$unknown-route-color-dark: white;

$tracked-tram-color-dark: red;
$tracked-bus-color-dark: blue;
$tracked-unknown-color-dark: #555555;
$tracked-vehicle-label-bg-dark: yellow;


$dark-mode-map-filters: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
$loading-filters: brightness(50%);

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.map-dark-theme {
    .map-tiles {
        filter: $dark-mode-map-filters;
	}

    .vehicle-label { background-color: $vehicle-label-bg-dark; }

    .vehicle-label.vehicle-tram {
        border-color: $tram-color-dark;

        .vehicle-label-icon, .vehicle-label-arrow {
            svg {
                fill: $tram-color-dark;
            }
        }

        .vehicle-label-text {
            color: $tram-color-dark;
        }
    }

    .vehicle-label.vehicle-bus {
        border-color: $bus-color-dark;

        .vehicle-label-icon, .vehicle-label-arrow {
            svg {
                fill: $bus-color-dark;
            }
        }

        .vehicle-label-text {
            color: $bus-color-dark;
        }
    }

    .vehicle-label.vehicle-unknown {
        border-color: $unknown-color-dark;

        .vehicle-label-icon, .vehicle-label-arrow {
            svg {
                fill: $unknown-color-dark;
            }
        }

        .vehicle-label-text {
            color: $unknown-color-dark;
        }
    }

    .vehicle-icon-tracked {
        .vehicle-label {
            background-color: $tracked-vehicle-label-bg-dark;
        }

        .vehicle-label.vehicle-tram {
            border-color: $tracked-tram-color-dark;

            .vehicle-label-icon, .vehicle-label-arrow {
                svg {
                    fill: $tracked-tram-color-dark;
                }
            }

            .vehicle-label-text {
                color: $tracked-tram-color-dark;
            }
        }

        .vehicle-label.vehicle-bus {
            border-color: $tracked-bus-color-dark;

            .vehicle-label-icon, .vehicle-label-arrow {
                svg {
                    fill: $tracked-bus-color-dark;
                }
            }

            .vehicle-label-text {
                color: $tracked-bus-color-dark;
            }
        }

        .vehicle-label.vehicle-unknown {
            border-color: $tracked-unknown-color-dark;

            .vehicle-label-icon, .vehicle-label-arrow {
                svg {
                    fill: $tracked-unknown-color-dark;
                }
            }

            .vehicle-label-text {
                color: $tracked-unknown-color-dark;
            }
        }
    }

    .route-path.route-bus {
        stroke: $bus-route-color-dark;
    }

    .route-path.route-tram {
        stroke: $tram-route-color-dark;
    }

    .route-path.route-unknown {
        stroke: $unknown-route-color-dark;
    }
}

.vehicle-label {
    display: inline-grid;
    grid-template-columns: auto auto 1fr;
    height: 20px;
    align-items: center;
    gap: 2px;
    padding: 1px;
    padding-right: 4px;

    transform: translate(-40%, -30%);

    background-color: $vehicle-label-bg-light;
    
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    .vehicle-label-icon, .vehicle-label-arrow {
        height: 100%;

        svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }

    .vehicle-label-text {
        font-size: 14px;
        margin-top: -2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    }
}

.vehicle-label.vehicle-tram {
    border-color: $tram-color-light;

    .vehicle-label-icon, .vehicle-label-arrow {
        svg {
            fill: $tram-color-light;
        }
    }

    .vehicle-label-text {
        color: $tram-color-light;
    }
}

.vehicle-label.vehicle-bus {
    border-color: $bus-color-light;

    .vehicle-label-icon, .vehicle-label-arrow {
        svg {
            fill: $bus-color-light;
        }
    }

    .vehicle-label-text {
        color: $bus-color-light;
    }
}

.vehicle-label.vehicle-unknown {
    border-color: $unknown-color-light;

    .vehicle-label-icon, .vehicle-label-arrow {
        svg {
            fill: $unknown-color-light;
        }
    }

    .vehicle-label-text {
        color: $unknown-color-light;
    }
}

.vehicle-icon-tracked {
    .vehicle-label {
        background-color: $tracked-vehicle-label-bg-light;
    }

    .vehicle-label.vehicle-tram {
        border-color: $tracked-tram-color-light;

        .vehicle-label-icon, .vehicle-label-arrow {
            svg {
                fill: $tracked-tram-color-light;
            }
        }

        .vehicle-label-text {
            color: $tracked-tram-color-light;
        }
    }

    .vehicle-label.vehicle-bus {
        border-color: $tracked-bus-color-light;

        .vehicle-label-icon, .vehicle-label-arrow {
            svg {
                fill: $tracked-bus-color-light;
            }
        }

        .vehicle-label-text {
            color: $tracked-bus-color-light;
        }
    }

    .vehicle-label.vehicle-unknown {
        border-color: $tracked-unknown-color-light;

        .vehicle-label-icon, .vehicle-label-arrow {
            svg {
                fill: $tracked-unknown-color-light;
            }
        }

        .vehicle-label-text {
            color: $tracked-unknown-color-light;
        }
    }
}

.vehicle-label-arrow[bearing] {
    transform: rotate(attr(bearing deg));
}

.route-path.route-bus {
    stroke: $bus-route-color-light;
}

.route-path.route-tram {
    stroke: $tram-route-color-light;
}

.route-path.route-unknown {
    stroke: $unknown-route-color-light;
}

@mixin animate-route($dashSize: 50, $gapSize: 10) {
    animation: move-route-#{ $dashSize }-#{ $gapSize } 2s linear infinite;
    stroke-dasharray: $dashSize, $gapSize;
    @keyframes move-route-#{ $dashSize }-#{ $gapSize } {
        to { stroke-dashoffset: -($dashSize + $gapSize); }
    }
}

#map[zoom="19"] .route-path { @include animate-route(100, 10); }
#map[zoom="18"] .route-path { @include animate-route(75, 10); }
#map[zoom="17"] .route-path { @include animate-route(50, 10); }
#map[zoom="16"] .route-path { @include animate-route(50, 10); }
#map[zoom="15"] .route-path { @include animate-route(25, 10); }
#map[zoom="14"] .route-path { @include animate-route(20, 10); }
#map[zoom="13"] .route-path { @include animate-route(15, 10); }
#map[zoom="12"] .route-path { @include animate-route(10, 10); }
#map[zoom="11"] .route-path { @include animate-route(10, 10); }
#map[zoom="10"] .route-path { @include animate-route(5, 10); }

.track-user-location-button, .open-settings-button {
    svg {
        margin: 4px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.track-user-location-button.loading {
    svg {
        fill: #444444;
        animation: rotate 1.75s linear infinite;
    }
}

body {
    .loading-overlay {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;

        svg.spinner {
            fill: white;
            animation: rotate 1.75s linear infinite;

            width: 40px;
            height: 40px;
        }
    }
}

#map.loading{
    filter: $loading-filters;

    pointer-events: none;
    * {
        pointer-events: none;
    }
}

#settings-dialog {
    --width: 100vw;
    @media (min-width: 600px) {
        --width: 90vw;
    }
    @media (min-width: 1000px) {
        --width: 80vw;
    }
}

#map {
    z-index: 10;
}

sl-dialog::part(base) {
    z-index: 20;
}

sl-dialog {
    sl-tab-panel {
        min-height: 500px;
    }
}

.sl-theme-dark {
    color: color.adjust(white, $lightness: -10%);
}

@for $i from 1 through 10 {
    .ml-#{$i*5} {
        margin-left: #{$i*5}px;
    }
    .mr-#{$i*5} {
        margin-right: #{$i*5}px;
    }
    .mt-#{$i*5} {
        margin-top: #{$i*5}px;
    }
    .mb-#{$i*5} {
        margin-bottom: #{$i*5}px;
    }
}

sl-tab-panel[name="about"] {
    > div {
        margin-bottom: 5px;
    }

    #app-name {
        font-size: 30px;
        font-weight: bold;
    }

    #app-author, #app-version, #app-commit, #app-license, #app-repo {
        :nth-child(1) {
            font-weight: bold;
        }
    }

    #app-description {
        margin-bottom: 20px;
    }

    #app-commit-placeholder {
        font-family: consolas;
        background-color: #555555;
        color: white;
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
