$tram-color-light: red;
$bus-color-light: blue;
$vehicle-label-bg-light: white;
$route-path-color-light: red;

$tram-color-dark: darken(mix(red, white, 80%), 5%);
$bus-color-dark: lighten(mix(blue, white, 80%), 5%);
$vehicle-label-bg-dark: darken(mix(black, gray, 80%), 5%);
$route-path-color-dark: yellow;

$dark-mode-map-filters: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter: $dark-mode-map-filters;
	}
}

.vehicle-label {
    display: inline-grid;
    grid-template-columns: auto 1fr; 
    height: 20px;
    align-items: center;
    gap: 2px;
    padding: 1px;
    padding-right: 4px;

    @media (prefers-color-scheme: light) { background-color: $vehicle-label-bg-light; }
    @media (prefers-color-scheme: dark) { background-color: $vehicle-label-bg-dark; }
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    .vehicle-label-icon {
        height: 100%;

        svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }

    .vehicle-label-text {
        font-size: 14px;
        margin-top: -2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    }
}

.vehicle-label.vehicle-tram {
    @media (prefers-color-scheme: light) { border-color: $tram-color-light; }
    @media (prefers-color-scheme: dark) { border-color: $tram-color-dark; }

    .vehicle-label-icon {
        svg {
            @media (prefers-color-scheme: light) { fill: $tram-color-light; }
            @media (prefers-color-scheme: dark) { fill: $tram-color-dark }
        }
    }

    .vehicle-label-text {
        @media (prefers-color-scheme: light) { color: $tram-color-light; }
        @media (prefers-color-scheme: dark) { color: $tram-color-dark; }
    }
}

.vehicle-label.vehicle-bus {
    @media (prefers-color-scheme: light) { border-color: $bus-color-light; }
    @media (prefers-color-scheme: dark) { border-color: $bus-color-dark; }

    .vehicle-label-icon {
        svg {
            @media (prefers-color-scheme: light) { fill: $bus-color-light; }
            @media (prefers-color-scheme: dark) { fill: $bus-color-dark }
        }
    }

    .vehicle-label-text {
        @media (prefers-color-scheme: light) { color: $bus-color-light; }
        @media (prefers-color-scheme: dark) { color: $bus-color-dark; }
    }
}

.route-path {
    @media (prefers-color-scheme: light) { stroke: $route-path-color-light; }
    @media (prefers-color-scheme: dark) { stroke: $route-path-color-dark; }
}

@mixin animate-route($dashSize: 50, $gapSize: 10) {
    animation: move-route-#{ $dashSize }-#{ $gapSize } 2s linear infinite;
    stroke-dasharray: $dashSize, $gapSize;
    @keyframes move-route-#{ $dashSize }-#{ $gapSize } {
        to { stroke-dashoffset: -($dashSize + $gapSize); }
    }
}

#map[zoom="19"] .route-path { @include animate-route(100, 10); }
#map[zoom="18"] .route-path { @include animate-route(75, 10); }
#map[zoom="17"] .route-path { @include animate-route(50, 10); }
#map[zoom="16"] .route-path { @include animate-route(50, 10); }
#map[zoom="15"] .route-path { @include animate-route(25, 10); }
#map[zoom="14"] .route-path { @include animate-route(20, 10); }
#map[zoom="13"] .route-path { @include animate-route(15, 10); }
#map[zoom="12"] .route-path { @include animate-route(10, 10); }
#map[zoom="11"] .route-path { @include animate-route(10, 10); }
#map[zoom="10"] .route-path { @include animate-route(5, 10); }
