@use "sass:color";

$tram-color-light: red;
$bus-color-light: blue;
$unknown-color-light: #444444;
$vehicle-label-bg-light: white;

$tram-route-color-light: red;
$bus-route-color-light: blue;
$unknown-route-color-light: black;

$tracked-tram-color-light: red;
$tracked-bus-color-light: blue;
$tracked-unknown-color-light: #222222;
$tracked-vehicle-label-bg-light: yellow;


$tram-color-dark: color.adjust(color.mix(red, white, 80%), $lightness: -5%);
$bus-color-dark: color.adjust(color.mix(blue, white, 80%), $lightness: 5%);
$unknown-color-dark: #bbbbbb;
$vehicle-label-bg-dark: color.adjust(color.mix(black, gray, 80%), $lightness: -5%);

$tram-route-color-dark: red;
$bus-route-color-dark: blue;
$unknown-route-color-dark: white;

$tracked-tram-color-dark: red;
$tracked-bus-color-dark: blue;
$tracked-unknown-color-dark: #555555;
$tracked-vehicle-label-bg-dark: yellow;


$dark-mode-map-filters: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
$loading-filters: brightness(50%);

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter: $dark-mode-map-filters;
	}
}

.vehicle-label {
    display: inline-grid;
    grid-template-columns: auto 1fr; 
    height: 20px;
    align-items: center;
    gap: 2px;
    padding: 1px;
    padding-right: 4px;

    transform: translate(-40%, -30%);

    @media (prefers-color-scheme: light) { background-color: $vehicle-label-bg-light; }
    @media (prefers-color-scheme: dark) { background-color: $vehicle-label-bg-dark; }
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    .vehicle-label-icon {
        height: 100%;

        svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }

    .vehicle-label-text {
        font-size: 14px;
        margin-top: -2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    }
}

.vehicle-label.vehicle-tram {
    @media (prefers-color-scheme: light) { border-color: $tram-color-light; }
    @media (prefers-color-scheme: dark) { border-color: $tram-color-dark; }

    .vehicle-label-icon {
        svg {
            @media (prefers-color-scheme: light) { fill: $tram-color-light; }
            @media (prefers-color-scheme: dark) { fill: $tram-color-dark }
        }
    }

    .vehicle-label-text {
        @media (prefers-color-scheme: light) { color: $tram-color-light; }
        @media (prefers-color-scheme: dark) { color: $tram-color-dark; }
    }
}

.vehicle-label.vehicle-bus {
    @media (prefers-color-scheme: light) { border-color: $bus-color-light; }
    @media (prefers-color-scheme: dark) { border-color: $bus-color-dark; }

    .vehicle-label-icon {
        svg {
            @media (prefers-color-scheme: light) { fill: $bus-color-light; }
            @media (prefers-color-scheme: dark) { fill: $bus-color-dark }
        }
    }

    .vehicle-label-text {
        @media (prefers-color-scheme: light) { color: $bus-color-light; }
        @media (prefers-color-scheme: dark) { color: $bus-color-dark; }
    }
}

.vehicle-label.vehicle-unknown {
    @media (prefers-color-scheme: light) { border-color: $unknown-color-light; }
    @media (prefers-color-scheme: dark) { border-color: $unknown-color-dark; }

    .vehicle-label-icon {
        svg {
            @media (prefers-color-scheme: light) { fill: $unknown-color-light; }
            @media (prefers-color-scheme: dark) { fill: $unknown-color-dark }
        }
    }

    .vehicle-label-text {
        @media (prefers-color-scheme: light) { color: $unknown-color-light; }
        @media (prefers-color-scheme: dark) { color: $unknown-color-dark; }
    }
}

.vehicle-icon-tracked {
    .vehicle-label {
        @media (prefers-color-scheme: light) { background-color: $tracked-vehicle-label-bg-light; }
        @media (prefers-color-scheme: dark) { background-color: $tracked-vehicle-label-bg-dark; }
    }

    .vehicle-label.vehicle-tram {
        @media (prefers-color-scheme: light) { border-color: $tracked-tram-color-light; }
        @media (prefers-color-scheme: dark) { border-color: $tracked-tram-color-dark; }

        .vehicle-label-icon {
            svg {
                @media (prefers-color-scheme: light) { fill: $tracked-tram-color-light }
                @media (prefers-color-scheme: dark) { fill: $tracked-tram-color-dark }
            }
        }

        .vehicle-label-text {
            @media (prefers-color-scheme: light) { color: $tracked-tram-color-light; }
            @media (prefers-color-scheme: dark) { color: $tracked-tram-color-dark; }
        }
    }

    .vehicle-label.vehicle-bus {
        @media (prefers-color-scheme: light) { border-color: $tracked-bus-color-light; }
        @media (prefers-color-scheme: dark) { border-color: $tracked-bus-color-dark; }

        .vehicle-label-icon {
            svg {
                @media (prefers-color-scheme: light) { fill: $tracked-bus-color-light }
                @media (prefers-color-scheme: dark) { fill: $tracked-bus-color-dark }
            }
        }

        .vehicle-label-text {
            @media (prefers-color-scheme: light) { color: $tracked-bus-color-light; }
            @media (prefers-color-scheme: dark) { color: $tracked-bus-color-dark; }
        }
    }

    .vehicle-label.vehicle-unknown {
        @media (prefers-color-scheme: light) { border-color: $tracked-unknown-color-light; }
        @media (prefers-color-scheme: dark) { border-color: $tracked-unknown-color-dark; }

        .vehicle-label-icon {
            svg {
                @media (prefers-color-scheme: light) { fill: $tracked-unknown-color-light }
                @media (prefers-color-scheme: dark) { fill: $tracked-unknown-color-dark }
            }
        }

        .vehicle-label-text {
            @media (prefers-color-scheme: light) { color: $tracked-unknown-color-light; }
            @media (prefers-color-scheme: dark) { color: $tracked-unknown-color-dark; }
        }
    }
}

.route-path.route-bus {
    @media (prefers-color-scheme: light) { stroke: $bus-route-color-light; }
    @media (prefers-color-scheme: dark) { stroke: $bus-route-color-dark; }
}

.route-path.route-tram {
    @media (prefers-color-scheme: light) { stroke: $tram-route-color-light; }
    @media (prefers-color-scheme: dark) { stroke: $tram-route-color-dark; }
}

.route-path.route-unknown {
    @media (prefers-color-scheme: light) { stroke: $unknown-route-color-light; }
    @media (prefers-color-scheme: dark) { stroke: $unknown-route-color-dark; }
}

@mixin animate-route($dashSize: 50, $gapSize: 10) {
    animation: move-route-#{ $dashSize }-#{ $gapSize } 2s linear infinite;
    stroke-dasharray: $dashSize, $gapSize;
    @keyframes move-route-#{ $dashSize }-#{ $gapSize } {
        to { stroke-dashoffset: -($dashSize + $gapSize); }
    }
}

#map[zoom="19"] .route-path { @include animate-route(100, 10); }
#map[zoom="18"] .route-path { @include animate-route(75, 10); }
#map[zoom="17"] .route-path { @include animate-route(50, 10); }
#map[zoom="16"] .route-path { @include animate-route(50, 10); }
#map[zoom="15"] .route-path { @include animate-route(25, 10); }
#map[zoom="14"] .route-path { @include animate-route(20, 10); }
#map[zoom="13"] .route-path { @include animate-route(15, 10); }
#map[zoom="12"] .route-path { @include animate-route(10, 10); }
#map[zoom="11"] .route-path { @include animate-route(10, 10); }
#map[zoom="10"] .route-path { @include animate-route(5, 10); }

.track-user-location-button {
    svg {
        margin: 4px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.track-user-location-button.loading {
    svg {
        fill: #444444;
        animation: rotate 1.75s linear infinite;
    }
}

body {
    .loading-overlay {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;

        svg.spinner {
            fill: white;
            animation: rotate 1.75s linear infinite;

            width: 40px;
            height: 40px;
        }
    }
}

#map.loading{
    filter: $loading-filters;
}
