$tram-color: red;
$bus-color: blue;

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.vehicle-label {
    display: inline-grid;
    grid-template-columns: auto 1fr; 
    height: 20px;
    align-items: center;
    gap: 2px;
    padding: 1px;
    padding-right: 4px;

    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;

    .vehicle-label-icon {
        height: 100%;

        svg {
            height: 100%;
            width: auto;
            display: block;
        }
    }

    .vehicle-label-text {
        font-size: 14px;
        margin-top: -2px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 700;
    }
}

.vehicle-label.vehicle-tram {
    border-color: $tram-color;

    .vehicle-label-icon {
        svg {
            fill: $tram-color;
        }
    }

    .vehicle-label-text {
        color: $tram-color;
    }
}

.vehicle-label.vehicle-bus {
    border-color: $bus-color;

    .vehicle-label-icon {
        svg {
            fill: $bus-color;
        }
    }

    .vehicle-label-text {
        color: $bus-color;
    }
}
