html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
}

.vehicle-label {
    height: 30px;
    width: 100px;
    /* display: flex; */

    background-color: white;
    border-color: green;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.vehicle-label .vehicle-label-icon {
    height: 100%;
    float: left;
}

.vehicle-label .vehicle-label-icon svg {
    height: 100%;
}

.vehicle-label .vehicle-label-text {
    /* height: 100%; */
    float: left;
    font-size: 18px;
    margin-left: 5px;
    margin-top: 2px;
    font-weight: 600;
}

.vehicle-label.vehicle-tram .vehicle-label-icon svg {
    fill: red;
}

.vehicle-label.vehicle-bus .vehicle-label-icon svg {
    fill: blue;
}
