@use "helpers.scss";

sl-dialog::part(base) {
    z-index: 30;
}

sl-drawer::part(base) {
    z-index: 20;
}

sl-dialog {
    --width: 100vw;
    @media (min-width: 600px) {
        --width: 90vw;
    }
    @media (min-width: 1000px) {
        --width: 80vw;
    }

    sl-tab-panel {
        height: calc(100vh - 150px);
    }
}

sl-drawer {
    > .drawer-loading {
        > sl-spinner {
            font-size: 3rem;
            --track-width: 5px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    > .drawer-resizer {
        position: absolute;
        touch-action: none;
    }

    > .drawer-resizer.drawer-resizer-vertical {
        left: -10px;
        top: 50%;
        transform: translate(0, -50%);
    }

    > .drawer-resizer.drawer-resizer-horizontal {
        top: -8px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

sl-drawer[placement=bottom] {
    --size: 40vh;
}

.stop-template {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom: 5px;
    align-items: center;

    .stop-sequence {
        font-size: 20px;
        border-radius: 50%;
        color: black;
        font-weight: bold;
        aspect-ratio: 1;
        height: 36px;
        margin-top: 4px;
        margin-right: 10px;
        align-content: center;
        text-align: center;
    }

    .stop-sequence[stop-sequence-status=past] {
        background-color: #71717a;
    }

    .stop-sequence[stop-sequence-status=current] {
        background-color: #26ff26;
    }

    .stop-sequence[stop-sequence-status=next] {
        background-color: #e4e4e7;
    }

    .stop-name {
        font-size: 16px;
        font-weight: 500;
    }

    .stop-more-details {
        font-size: 14px;
        color: var(--sl-color-neutral-800);
        display: flex;
        align-items: center;

        .stop-type {
            font-size: 12px;
        }
    }

    .stop-departure-time {
        font-weight: 500;
        font-size: 18px;
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: brightness(50%);
    width: 100%;
    height: 100%;
    
    div {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        .spinner {
            color: white;
            animation: rotate 1.75s linear infinite;
            
            width: 40px;
            height: 40px;
        }
    }
}

.map-start-position-coords-settings {
    display: flex;

    > sl-input {
        width: 33%;
        margin-right: 5px;
    }
}

.sl-theme-dark {
    color: #e6e6e6;
}
